<! DOCTYPE html>
{% load static %}
<title> Mana Ranch Las Piedras</title>
<link rel="shortcut icon" type="image/png" href="/static/img/potion.png">
<link rel="stylesheet" href="/static/css/index.css?{{ now  }}" />
<link rel="stylesheet" href="/static/css/faq.css?{{ now  }}" />
<script src="/static/js/jquery-min.js"></script>
<div id="top"></div>
<div id="swoop"></div>
<div id="topSpacer"></div>    
<!-- Summary -->
<div id="title">For Sale: $250,000
    <div class="sub">Ranch home in Las Piedras, Puerto Rico</div>
</div>
<div id="fold1">
    <div id="brief">
        <h3>
        </h3>
        <p> 
            <ul>
                <li> 5.8 Acre Ranch
                <li> 3 Bed, 3 Bath home
                <li> 2033 sq ft
                <li> 3000 sq ft roof (deck potential)
                <li> 2 bonus rooms
                <li> Mountain property with panoramic views
                <li> 45 min to airport, 20 min to beach
                <li> <a href="https://app.regrid.com/us/pr/las-piedras/collores/724524" target="_blank">Parcel Data</a> (owner information)
                <li> <a href="https://youtu.be/r5FF7MGrayc" target="_blank">Video Tour</a> (outside only)
                <li> Map: <a href="https://goo.gl/maps/PZw9mmDZvxwy7YEQA" target="_blank">Location Pin</a>
            </ul>
            </p>



    </div>
    <div id="map"></div>

    <div id="opps">
        <div class="opp">
            <h2>Traditional Sale</h2>
            <ul>
                <li> $250,000 list price
                <li> FHA-approved property
                <li> Seller repairs negotiable
            </ul>
            <div class="booknow">
                <a href="mailto:alec@texashomeoffer.io?subject=Regarding Las Piedras Property For Sale" target="_blank">CONTACT</a>
            </div>

        </div>
        <div class="opp">
            <h2>Seller Financing</h2>
            <ul>
                <li> No income or credit qualification
                <li> Assumption, Wrap, or Subject-To
                <li> 35K down payment
            </ul>
            <div class="booknow">
                <a href="mailto:alec@texashomeoffer.io?subject=Regarding Las Piedras Property For Sale (seller financing)" target="_blank">INQUIRE</a>
            </div>

        </div>
    </div>

</div>

<!-- FAQ -->
<div id="faq">
    <div class="title2"> FAQ </div>

    <button class="accordion">What options do I have for seller financing?</button>
        <div class="panel">
              <p>There are three options. This is not legal advice. Do your own research.
              <ul>
                <li> Assumption. Buyer qualifies for and takes over existing $214,600 debt with FHA financing at 2.85% with $1,222.29/mo.
                <li> Subject-to. Buyer simply takes over payments of $1,222.29/mo existing Seller's loan. Original loan remains with seller.
                <li> Wrap. Buyer and Seller enter a custom mortgage that wraps the existing mortgage. Original loan remains with seller.
        </p>
        </div>
    <button class="accordion">What is included in the sale?</button>
        <div class="panel">
              <p>Two sofas inside do not convey. Everything else inside conveys with sale including tables, chairs, beds, and dressers.
        </p>
        </div>
    <button class="accordion">What repairs are needed?</button>
        <div class="panel">
              <p>Minimal repairs. Foundation is solid, we have an inspection. 
        </p>
        </div>
    <button class="accordion">What's the neighborhood like?</button>
        <div class="panel">
              <p>Friendly neighbors with other fincas (not a crowded subdivision).
        </p>
        </div>
    <button class="accordion">What are the roads like?</button>
        <div class="panel">
          <p>Main roads are well paved with easy access. Final road is paved and steep, but manageable even with a box truck. 

        </p>
        </div>
    <button class="accordion">Are there any liens or encumbrances on the property that could affect the transfer process?</button>
        <div class="panel">
          <p>None
        </p>
        </div>

    <button class="accordion">What's the location like?</button>
        <div class="panel">
        <p> Las Piedras is a sleepy town with only 1 or 2 bars. It's 45 minutes from the airport and 20 minutes from the beach. Neighbors are very friendly and we can introduce the prospective buyers to our friends in the area.
        </p>
        </div>


    <button class="accordion">Do you have the foundation report and appraisal available?</button>
        <div class="panel">
        <p> Yes, dated from January 2022 these are available.
        </p>
        </div>

    <button class="accordion">Will the seller complete repairs?</button>
        <div class="panel">
        <p> Repairs should not be needed to close with a lender. If it is needed, seller will consider repairs.
        </p>
        </div>



</div>


<!-- Mosaic -->
<div class="title2">THE PROPERTY </div>
<div class="container">
    <div class="tile">
        <img src="{% static "img/1.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/2.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/3.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/4.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/5.jpg" %}" alt="">
    </div>
</div>

<div class="container">
    <div class="tile">
        <img src="{% static "img/6.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/7.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/8.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/9.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/10.jpg" %}" alt="">
    </div>
</div>
<div class="container">
    <div class="tile">
        <img src="{% static "img/11.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/12.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/13.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/14.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/15.jpg" %}" alt="">
    </div>
</div>


    <br><br><br>
        <div class="booknow">
            <a href="mailto:alec@texashomeoffer.io?subject=Regarding Las Piedras Property For Sale" target="_blank">CONTACT</a>
            <br>
        </div>

<div id="displayImages">
</div>
<script src="/static/js/faq.js"></script>
<script>
    var imageIndex = -1;
    var imageCount = 15;
    $('img').each(function(){
        $(this).on('click',function(){
            src = $(this).attr('src')
            i = parseInt(src.replace(/\D/g,''));
            if (i != imageIndex || $('#displayImages').css('display') == 'none') {
                imageIndex = i;
                ShowImage();
            } else {
                $('#displayImages').css('display','none');
            }
        });
    });
    function ShowImage(){

        $('#displayImages').css('display','block').css('background-image', 'url(static/img/'+imageIndex+'.jpg)');
    }
document.onkeydown = function(e) {
    switch(e.which) {
        case 37: // left
        case 40:
        if ($('#displayImages').css('display') == 'block'){
            i = parseInt($('#displayImages').css('background-image').replace(/\D/g,''));
            imageIndex = i + 1 > imageCount ? 1 : i + 1;
            ShowImage();
        }
        break;

        case 38: // up
        case 39: // right
        if ($('#displayImages').css('display') == 'block'){
            i = parseInt($('#displayImages').css('background-image').replace(/\D/g,''));
            imageIndex = i -1 < 1 ? imageCount : i - 1;
            console.log("i:"+imageIndex);
            ShowImage();
        }
break;


        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
};
</script>

